<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css"
    />
    <title>myQuizz</title>
  </head>
  <header class="header">
    <a href="/" class="header__title">myQuizz</a>
    <nav class="nav-bar">
      <a class="nav-link" href="/quizzes">Quizz</a>
  
      <a class="nav-link" href="/inscription">S'inscrire</a>
      <a class="nav-link nav-link mdi mdi-account mdi-24px" href="/profil"></a>
      <a id="connect" class="nav-link mdi mdi-power mdi-24px" href="/connexion"></a>
    </nav>
  </header>
  <body>
    <main class="container">

